#Modules Configuration
query_directory             $ queries/
convolutional_models_path   $ models/spatio-temporal
temporal_models_path        $ models/temporal
dataset_path                $ datasets/CFSR-latin-america-2015-temp.nc
target_attribute            $ TMP_L100
clustering_algorithm        $ birch

# Offline step Configuration
perform_only_clusterization $ s
noise_level_for_cef         $ 1

# Online step configurations
dataset_start               $ 0
clustering_offset           $ 10
window_size                 $ 12
predictive_length           $ 1

# Online step behavior Configurations
series_clustering_behavior  $ query    # options: global or query
